{{ define "product" }}
{{ template "header" . }}
<main role="main">
    <div class="h-product container">
        <div class="row">
            <div class="col-md-6">
                <img class="product-image" alt="" src="{{$.product.PictureUrl}}" />
            </div>
            <div class="product-info col-md-5">
                <div class="product-wrapper">
                    <h2>{{ $.product.Name }}</h2>
                    <p class="product-price">{{ renderPrice $.product.Price }}</p>
                    <p>{{ $.product.Description }}</p>
                    <form method="POST" action="/koszyk">
                        <input type="hidden" name="productId" value="{{$.product.ProductId}}" />
                        <div class="product-quantity-dropdown">
                            <select name="quantity" id="quantity">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>10</option>
                            </select>
                            <img src="/static/img/icons/DownArrow.svg" alt="">
                        </div>
                        <button type="submit" class="button-primary">Dodaj do koszyka</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{{ template "footer" . }}
{{ end }}