/* General */

html, body {
    height: 100%;
}

body {
    color: #111111;
    font-family: 'DM Sans', sans-serif;
}

/* Header */

header {
    background-color: white;
}

header .navbar {
    height: 60px;
    padding-top: 0;
    padding-bottom: 0;
}

header .top-left-logo {
    height: 2em;
}

header .cart-link {
    display: flex;
    align-items: center;
}

header .navbar-shop-title {
    font-size: 30px;
    margin: auto 15px;
    color: rgb(0, 0, 0);
}

header .navbar .navbar-brand {
    padding: 0;
}
  
header .navbar a {
    color: #b4b2bb;
}
  
header .navbar nav a {
    margin: 0 10px;
}

header .navbar .controls {
    display: flex;
    height: 60px;
}
  
header .navbar .controls a img {
    width: 25px;
    height: 25px;
    margin-bottom: 3px;
}

/* Home */

main {
    flex: 1 0 auto;
    background-color: #F9F9F9;
}

@media (min-width: 992px) {
    .home .container-fluid {
      height: calc(100vh - 60px); /* 91px height of header */
    }
    .home .container-fluid > .row > .col-4 {
      height: calc(100vh - 60px);
    }
    .home .container-fluid > .row > .col-lg-8 {
      height: calc(100vh - 60px);
      overflow-y: scroll;
    }
}

.home-mobile-hero-banner {
    height: 200px;
    background: url(/static/img/banners/folded-clothes-on-white-chair-wide.jpg) no-repeat top center;
    background-size: cover;
}

.home-desktop-left-image {
    background: url(/static/img/banners/folded-clothes-on-white-chair.jpg) no-repeat center;
    background-size: cover;
}

.products-row {
    padding-bottom: 70px;
    padding-left: 10%;
    padding-right: 10%;
}

.products-row h3 {
    margin-bottom: 32px;
    margin-top: 56px;
    font-size: 36px;
    font-weight: normal;
}

.product-box {
    margin-bottom: 52px;
    padding-left: 16px;
    padding-right: 16px;
}

.product-box img {
    width: 100%;
    height: auto;
    border-radius: 20% 0 20% 20%;
}

.product-box-name {
    margin-top: 8px;
    font-size: 18px;
    text-align: center;
}

.product-box-price {
    font-size: 14px;
    text-align: center;
}

.product-box a:link {
    text-decoration: none;
    color: #111111;
}

.product-box a:visited {
    text-decoration: none;
    color: #111111;
}

.product-box a:hover {
    text-decoration: none;
    color: #975015;
}

.product-box a:active {
    text-decoration: none;
    color: #975015;
}

.product-box > a:first-child {
    position: relative;
    display: block;
}

.product-box-img-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 20% 0 20% 20%;
    background-color: transparent;
}

.home-desktop-footer-row {
    padding-left: 9%;
    padding-right: 9%;
    background-color: #570D2E;
}

/* Footer */

footer.py-5 {
    flex-shrink: 0;
    padding: 0 !important;
}

footer .footer-top {
    padding: 60px 0px;
    background-color: #570D2E;
    color: white;
}

footer .footer-top .footer-social {
  display: block;
  align-items: center;
  padding: 31px;
}

footer .footer-top .footer-social div {
    width: 50%;
}

/* Product */
.h-product {
    margin-top: 56px;
    margin-bottom: 112px;
    max-width: 1200px;
    background-color: #F9F9F9;
}

.h-product > .row {
    align-items: flex-end;
}

.h-product .product-image {
    width: 100%;
    border-radius: 20% 20% 0 20%;
}

.h-product .product-price {
    font-size: 28px;
}

.h-product .product-info .product-wrapper {
    margin-left: 15px;
}

.h-product .product-info h2 {
    margin-bottom: 16px;
    margin-top: 16px;
    font-size: 56px;
    line-height: 1.14;
    font-weight: normal;
    color: #111111;
}

.h-product .input-group-text,
.h-product .btn.btn-info {
    font-size: 18px;
    line-height: 1.89;
    letter-spacing: 3.6px;
    text-align: center;
    color: #111111;
    border-radius: 0;
}

.product-quantity-dropdown {
    position: relative;
    width: 100px;
}

.product-quantity-dropdown select {
    width: 100%;
    height: 45px;
    border: 1px solid #acacac;
    padding: 10px 16px;
    border-radius: 8px;
}

.product-quantity-dropdown img {
    position: absolute;
    right: 25px;
    top: 20px;
    width: 10px;
    height: 5px;
}

.h-product .-button-primary {
    margin-top: 16px;
}